body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
